/**

1. Reset CSS

2. Typography

3. Basic layout

4. Header

*/

:root {
    --blackest-pitch: #000;
    --moderate-pitch: #222;
    --curdled-cream: #fffff7;
    --hardenend-blood: #8b0000;
    --murky-depths: #0b2275;
    --haunted-smoke: #ddd;
    --screaming-star: #ff4500;

    /* home page specific */
    --background-green: #96cd58;
    --grass: #669d28;
    --lemon-days: "Lemon Days";

    /* adventure time logo colors */
    --at-depth-1: #a62639;
    --at-depth-2: #8b1e2f;
    --at-depth-3: #6d1726;
    --at-depth-4: #4a0f1a;
}

/**
 * Reset CSS
 */

html,
body,
ul,
li,
ol,
h1,
h2 {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
}

ul li.triangle::marker {
    content: "▶  ";
}

:focus {
    outline: 2px solid var(--screaming-star);
}

/**
* Typography
*/
html {
    /** basic font reset **/
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
}
html * {
    font-family: inherit;
}

html code {
    font-family: monospace;
}

body {
    background: var(--curdled-cream);
    color: var(--moderate-pitch);
    font-size: 18px;
    line-height: 1.6;
}

.centered {
    text-align: center;
}

a {
    color: var(--murky-depths);
}

a:hover {
    color: var(--hardenend-blood);
    text-decoration-color: var(--moderate-pitch);
}

/**
basic layout
**/

main:not(.main-bookshelf) {
    margin: auto;
    max-width: 580px;
    padding: 0.5em;
}

/** header **/
header {
    background: var(--blackest-pitch);
    color: var(--curdled-cream);
    margin: 0;
    text-align: center;
}

header a {
    color: var(--white);
}

header a:hover {
    color: var(--haunted-smoke);
    text-decoration-color: var(--murky-depths);
}

header nav {
    padding: 1em 0 2em;
}

header nav ul {
    display: flex;
    gap: 1.25em;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.page-title {
    font-size: 2em;
    margin: 1em 0;
    text-align: center;
}

.content-section ul {
    margin-bottom: 1.5em;
}

/**
postlist component
**/
.postlist {
    list-style: none;
    padding: 0;
}
.postlist-date {
    display: block;
}

.postlist-link {
    display: block;
    font-size: 1.25em;
}

.postlist-item {
    margin-bottom: 1.5em;
}

.postlist-link {
    color: var(--murky-depths);
}

.bookshelf {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    padding: 1em;
}

.book {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.book img {
    height: auto;
    width: 320px;
}

.post-tag {
    background: var(--murky-depths);
    border-radius: 6px;
    color: white;
    display: inline-block;
    font-size: 0.75em;
    padding: 0.25em 0.5em;
    text-decoration: none;
    text-transform: uppercase;
}

.post-tag:hover {
    background: var(--hardenend-blood);
    color: white;
    transform: rotate(5deg);
}

.req {
    color: var(--hardenend-blood);
}

[name="contact"] > * {
    display: block;
}

[name="contact"] input,
[name="contact"] textarea {
    margin: 0.5em 0;
    padding: 0.5em;
    width: 100%;
}

[name="contact"] [type="submit"] {
    background: var(--hardenend-blood);
    border: none;
    color: var(--curdled-cream);
    cursor: pointer;
    margin: auto;
    padding: 0.5em;
    width: 50%;
}

[name="contact"] [type="submit"]:hover,
[name="contact"] [type="submit"]:focus {
    transform: rotate(-1deg);
}

@media (min-width: 680px) {
    footer ul {
        display: flex;
        justify-content: space-between;
    }
}

footer ul {
    padding: 0.5em;
    list-style: none;
    margin: 4em auto 0;
    max-width: 580px;
}

footer li.gideon:before {
    content: "💀 ";
}

footer li.books:before {
    content: "📚 ";
}

footer li.hash:before {
    content: "#️⃣ ";
}
