---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
{% set maxPosts = 3 %}



{% set postslist = collections.posts | head(-20) %}
{% set shouldCombine = false %}
<h2 class="page-title">Posts </h2>
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<h2 class="page-title">Links </h2>
{% include "linkslist.njk" %}

<p>More posts and links can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
