{% set currentProjects = collections.currentProjects %}
{% if currentProjects.length > 0 %}
<div class="sidebar--current current-project">
    <h2>Current Projects</h2>
    <ul>
    {% for project in currentProjects | reverse %}
        <li>
            <h3 class="sidebar--current__title">{{ project.data.title }}</h3>
        </li>
    {% endfor %}
    </ul>
</div>
{% endif %}
