{% if currentlyReading.length > 0 %}
<div class="sidebar--current currently-reading">
    <h2>Currently Reading</h2>
    <ul>
    {% for book in currentlyReading %}
        <li>
            <img src="{{ book.thumbnail }}" alt="" /><!-- empty alt as title is displayed -->
            <h3 class="sidebar--current__title">{{ book.title }}</h3>
            <p class="sidebar--current__description">{{ book.author }}</p>
        </li>
    {% endfor %}
    </ul>
</div>
{% endif %}
