  <footer>
    <nav>
      <ul>
        <li class="books"><a href="{{ '/bookshelf' | url }}">Bookshelf</a></li>
        <li class="gideon"><a href="{{ '/about-this-site' | url }}">More about this site</a></li>
        <li class="hash"><a rel="me" href="https://dice.camp/@thewatermethod">Mastodon</a></li>
      </ul>
    </nav>
  </footer>