  <footer>
    <a href="{{ '/bookshelf' | url }}">Bookshelf</a>
    <a href="{{ '/about-this-site' | url }}">More about this site</a>
    <a rel="me" href="https://dice.camp/@thewatermethod">Mastodon</a>
  </footer>