<nav>
    <ul>
        <li>
            <a href="{{ '/' | url }}">Home</a>
        </li>
        <li>
            <a href="{{ '/posts' | url }}">Writing</a>
        </li>
        <li>
           <a href="{{ '/about' | url }}">About me</a>
        </li>
        {# <li>
            <a href="{}">Contact</a>
        </li> #}
        <li>
            <a href="https://resume.mattbev.com">🔗 Resume</a>
        </li>
    </ul>
</nav>