<ul class="postlist">
{% for post in postslist | reverse %}
  {% if post.data.type == "link"  %}
    {% if shouldCombine %}
      {% include "linkpost.njk" %}
    {% endif %}
  {% elseif post.data.type == "tumblr" %}
    {% if shouldCombine %}
      {% include "tumblrpost.njk" %}
    {% endif %}
  {% else %}
    {% include "postpost.njk" %}
  {% endif %}
{% endfor %}
</ul>