---
layout: layouts/base.njk
---

<h1 class="page-title">{{ title }}</h1>

{{ content | safe }}

{% if collections.booksByYear %}
<div class="bookshelf">
    <div class="bookshelf__year">
        {% for year, books in collections.booksByYear %}
            <div class="bookshelf__year__books">
                <h2>{{ year }}</h2>
                <ul>
                    {% for book in books %}
                        <li><strong>{{ book.title }}</strong> by {{ book.author }}{% if book.reread %} (reread){% endif %}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
</div>
{% endif %}

