---
templateClass: tmpl-home
---
<!doctype html>
<html lang="{{ metadata.language }}">
    {% include "htmlhead.njk" %}
    <link rel="stylesheet" href="{{ '/css/home.css' | url }}">
  <body>
    <header class="site-header {% if templateClass %}header-{{ templateClass }}{% endif %}">
        {% include "navigation.njk" %}
        <div class="site-header--header-inner">
            <div class="titles">
                <div>
                    <h1 class="home"><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>
                    <h2 class="home home--subtitle">{{ metadata.subtitle }}</h2>
                </div>
                <ul class="who">
                    <li class="triangle"><a href="mailto:matt@mattbev.com">matt@mattbev.com</a></li>
                    <li class="triangle">
                        <a href="https://github.com/thewatermethod">Github</a> or
                        <a href="https://gitlab.com/thewatermethod">Gitlab</a>.
                    </li>
                </ul>
            </div>
      </div>
    </header>

    <main{% if templateClass %} class="main-{{ templateClass }}"{% endif %}>

        <div class="content-section">
            {{ content | safe }}
        </div>
        <div class="sidebar">
            {% include "currently-reading.njk" %}
            {% include "current-project.njk" %}
        </div>
    </main>

    {% include "footer.njk" %}

    <!-- Current page: {{ page.url | url }} -->

</html>
